.bg-primary{
    background-color:#23415B!important;
}

.bg-secondary{
    background-color: #4E7CA8!important;
}

.bg-tertiary{
    background-color: #E0EBF6;
}

body {
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
  }

footer {
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}